@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.header-div {
	background-color: rgb(13, 12, 40);
}
header {
	font-family: 'Lobster', cursive;
	color: rgb(145, 47, 47);
	font-size: 8vh;
	height: 14vh;
	text-shadow: rgb(255, 255, 255);
}
a {
	text-decoration: none;
}
