body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.map {
	height: 100vh;
	width: 100vw;
}
.location-details {
	position: absolute;
	top: 150px;
	right: 50px;
	width: 400px;
	height: 200px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
	font-size: 18px;
	color: white;
}

.location-details ul {
	list-style-type: none;
	padding: 0;
}
.location-details li {
	padding: 0;
}
